@{
  Layout = "_Layout";
}

@model TopTenFilmList.Models.Actor

<h4>Add a new actor</h4>
<hr />

<p>@Html.ValidationMessageFor(model => model.ActorFName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  <p>Actor First Name: @Html.TextBoxFor(model => model.ActorFName, new { required = "required" })</p>
  

  <p>Actor Last Name: @Html.TextBoxFor(model => model.ActorLName, new { required = "required" })</p>
  

  <p>Genre Actor is known for: @Html.TextBoxFor(model => model.ActorMainGenre, new { required = "required" })</p>
     
  @* @Html.LabelFor(model => model.Film)
  @Html.DropDownList("FilmId") *@

  <input type="submit" value="Add new actor"/>
}
<br>
<p>@Html.ActionLink("Show all actors", "Index")</p>