@{
  Layout = "_Layout";
}

@model TopTenFilmList.Models.Actor

<h4>Edit this actor: @Html.DisplayFor(model => model.ActorFName)</h4>

<p>@Html.ValidationMessageFor(model => model.ActorFName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

<p>@Html.ValidationMessageFor(model => model.ActorLName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ActorId)
  <p>First Name: @Html.EditorFor(model => model.ActorFName)</p>
  <p>Last Name:  @Html.EditorFor(model => model.ActorLName)</p>
  <p>Genre Actor is known for: @Html.EditorFor(model => model.ActorMainGenre)</p>
    
  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>