@{
  Layout = "_Layout";
}

@model TopTenFilmList.Models.Film

<h4>Edit this film: @Html.DisplayFor(model => model.FilmName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FilmId)

  <p>Film Name: @Html.EditorFor(model => model.FilmName, new { required = "required" })</p>
 
 
  <p>Film Average Rating: @Html.EditorFor(model => model.FilmAverageRating, new { required = "required" } )</p>
  <p>Film MPA Rating: @Html.EditorFor(model => model.FilmMPARating, new { required = "required" })</p>
  <p>Film Description: </p>
  <p>@Html.EditorFor(model => model.FilmDescription, new { required = "required" })</p>
  

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to film list", "Index")</p>