@{
  Layout = "_Layout";
}

@model TopTenFilmList.Models.Studio

<h2>Edit</h2>

<h4>Edit this studio: @Html.DisplayFor(model => model.Name)</h4>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudioId)

  <p>Studio Name: @Html.EditorFor(model => model.Name)</p>
  
  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to studio list", "Index")</p>